
body{
    background: black;
    color:white;
}

h1{
	font-family: serif;
	font-size:100pt;
}

h1:hover{
	color:black;        /* Color of the text will turn to black when your mouse pointer stays around the text */
	background:yellow;  /* Color of the background will turn to yellow when your mouse pointer stays around the text */
}